<nav class = "navbar">
    <div class="nav-left">
        <a href = "/login">Login</a>
        <a href = "/signup">Signup</a>
    </div>
    <div class="nav-center">
        <span class = "nav-logo"> 📖 BookNest 📖 </span>
    </div>
    <div class="nav-right">
        <a href="/"> Browse </a>
        <a href="/checkout" class="cart-icon">  Checkout   🛒  </a>
    </div>
</nav>