<nav class = "navbar">
    <div class="nav-left">
    <% if (user_Name) { %>
        <a href="/logout">Logout</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a href="/nearby">Nearby Libraries & Bookstores</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/nearby">Nearby Libraries & Bookstores</a>
    <% } %>
    </div>
    <div class="nav-center">
        <span class = "nav-logo"> 📖 BookNest 📖 </span>
    </div>
    <div class="nav-right">
        <a href="/"> Browse </a>
        <a href="/cart" class="cart-icon">  Shopping Cart   🛒  </a>
    </div>
</nav>