<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/nav.ejs") %>
    <h1>Success! A book has been added to your cart.</h1>
    <a href="/cart.ejs">View cart here</a>

</body>