<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="loginSignUpDiv">
        <h1>Login</h1>
        Username: <input type="text" id="uName"> <br><br>
        Password: <input type="text" id="pwd">
    </div>

</body>
</html>