<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="loginSignUpDiv">
        <h1>Login</h1>
        <% if (error) { %>
            <div class = "errorMessage">
                <p> Those credentials were not found in our database. Would you like to create an account?</p>
                <a href = "/signup"><button> Sign me up for an account! </button></a>
                <a href = "/login"><button> Try logging in again! </button></a>
            </div>
        <% } %>
        <br> <br>
        <form action="/loginForm" method = "POST">
            Username: <input type="text" name="user_Name" id="uName"> <br><br>
            Password: <input type="password" name= "password" id="pwd">
            <br><br>
            <button type = "submit">  Log in! </button>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>