<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="loginSignUpDiv">
        <h1>Sign Up for a BookNest Account</h1>
        Enter a username: <input type="text" id="signUpUame"> <br><br>
        Enter a password: <input type="text" id="signUpPwd">
    </div>
</body>
</html>