<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="signupSuccess">
        <h1>Yay! You've Successfully Signed Into Your New Account!</h1>
        <h2>Continue Shopping?</h2> <a href="/"><button> Yes Please! </button></a>
</body>
</html>