body{
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}
.loginSignUpDiv {
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 15px 25px;
}
.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-icon {
    font-size: 1.5 rem;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-left {
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav-center {
    left: 45%;
    position: absolute;
}
.browsing {
    text-align: center;
    padding: 40px 20px 30px;
}
.browsing h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.search-bar {
    display: flex;
    justify-content: center;
    gap:10px;
}
.search-bar button {
    background-color: antiquewhite;
    cursor: pointer;
}
.search-bar input {
    width: 500px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#bookList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.bookElement {
    background-color: rgb(83, 184, 204);
    padding-top: 3ch;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-bottom: 3ch;
    border-radius: 15px;
}
.bookImage {
    float: left;
    padding-right: 3ch;
}
.bookRow {
    text-align: start;
}
.closeModal {
    background-color: antiquewhite;
}
.showBookInfo {
    background-color: antiquewhite;
}
.addToCart {
    background-color: antiquewhite;
}
